.todo--container {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 32px;
    width: 300px;;
    margin: 10px;
}

.todo--container--completed {
    border: 1px solid lightgray;
    margin: 20px;
    text-align: center;
    background-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.todo--desc {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: auto;
    margin-bottom: auto;
}

.icon--trashcan {
    color: white;
    background-color: lightsalmon;

}

.icon--checkmark {
    color: white;
    background-color: springgreen;
}

.button--trashcan {
    background-color: lightsalmon;
    height: 34px;
    width: 34px;
    border: 0;
}

.button--checkmark {
    background-color: springgreen;
    height: 34px;
    width: 34px;
    border: 0;
    margin-left: auto;
}


